@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* @import '../../node_modules/@fortawesome/fontawesome-free/css/all.css'; */

:root {
    --brd: 0.1rem solid gray;
    --main-color: #d3ad7f;
}

* {
    font-family: 'Poppins', Tahoma ,sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    user-select: none;
}

body {
    padding: 0 50px;
    scroll-padding-top: 150px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@media (max-width:678px) {
    body {
        padding: 0 20px;
    }
}

a, button, input[type="button"], input[type="submit"], h5, i {
    cursor: pointer !important;
}
a:hover {color: var(--main-color) !important;}


/* footer */


/* section-1 */


/* search history */
search-history {
    padding: 5px 20px;
    position: relative;
    display: flex;
    flex-grow: 1;
    gap: 10px;

    /* border: var(--brd); */
}

search-history button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

search-history p {
    position: absolute;
    right: 0;
}

/* media */
