@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
    --main-color: #d3ad7f;
    
    --main-color: #F0ECE5;
    --text: #161A30;
    --bg-color: #B6BBC4;
    --col-1: #B6BBC4;
    --col-2: #3498db;
    
    --bg-color: #333333;
    --text: #fafafa;
}
* {
    font-family: 'Poppins', Tahoma ,sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    user-select: none;
}

body {
    padding: 0 50px;
    scroll-padding-top: 150px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}

@media (max-width:678px) {
    body {
        padding: 0;
    }
}

i, a, h5, button, 
input[type="button"], 
input[type="submit"]
{
    cursor: pointer !important;
}
a:hover {
    color: var(--main-color) !important;
}

footer-section {
    width: 100%; height: 50px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
}

/* styling ulang */
.card:hover h1,
.card:hover p {
    color: var(--col-2) !important;
}